.list {
	padding-left: 0;
}

.list__item {
	list-style: none;
}

.list__link {
	padding-left: 5px;
	padding-right: 5px;
}

.list__link:hover {
	color: var(--red);
}
.list__link:focus {
	outline: 2px solid var(--red);
}
