.header {
	background-color: var(--mediumBlack);
	padding: 20px;
}

.header__nav {
	display: flex;
	place-content: center;
	gap: 50px;
}

.header__link {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

.header__link--underline,
.header__link:hover {
	text-decoration: underline var(--red);
	text-underline-offset: 5px;
}

.header__link:hover {
	color: var(--red);
}
.header__link:focus {
	outline: 2px solid var(--red);
}
