.characters__cards {
	display: grid;
	gap: 20px;
}

@media screen and (min-width: 768px) {
	.characters__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 1280px) {
	.characters__cards {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1920px) {
	.characters__cards {
		grid-template-columns: repeat(5, 1fr);
	}
}
