.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider__container {
	transition: transform 0.7s ease;
	display: flex;
}
.slider__container div {
	min-width: 100%;
}
@media screen and (min-width: 1280px) {
	.slider__container {
		min-height: 500px;
	}
}
