.slider {
	width: 100vw;
	overflow: hidden;
	position: relative;
}

.slider__container {
	transition: transform 0.7s ease;
	display: flex;
}
@media screen and (min-width: 1280px) {
	.slider__container {
		min-height: 500px;
	}
}
@media screen and (min-width: 1920px) {
	.slider__container {
		min-height: 700px;
	}
}

.slider__container div {
	min-width: 100%;
}
