.slider {
	width: 90vw;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.slider__container {
	cursor: grab;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(20, 200px);
	gap: 20px;
}

@media screen and (min-width: 1280px) {
	.slider {
		width: 80vw;
	}
}
