.slider {
	position: relative;
	width: 90vw;
	height: 300px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	transition: left 0ms ease-in;
	cursor: grab;
}

.slider__container {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(20, 300px);
	gap: 5px;
	pointer-events: none;
}
