.search__input {
	border-radius: 23px;
	padding: 10px 12px;
	background-color: var(--fullBlack);
	border: none;
	color: inherit;
	width: 310px;
	height: 30px;
	transition: transform 0.8s ease;
	font-size: 1.6rem;
	background-image: url("/search.png");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: calc(100% - 8px);
}
.search__input::placeholder {
	font-size: 1.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.search__input:focus {
	outline: transparent;
	transform: scale(1.1);
}
