.poster {
	position: relative;
	padding: 7rem 4rem 7rem;
	display: grid;
	gap: 40px;
	box-shadow: inset 0 0 50px 20px var(--fullBlack);
}

.poster__title {
	font-size: 4rem;
	text-align: center;
}
.poster__content {
	font-weight: bold;
	padding: 5px;
}

@media screen and (min-width: 1280px) {
	.poster__content {
		max-width: 50%;
	}
}

.poster__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: opacity(0.3);
}
